@model IEnumerable<Lab3_MVC_.Models.Settlements>

@{
    ViewData["Title"] = "Settlements";
}

<h2>Settlements Info</h2>

<p>
    @Html.ActionLink("Create", "Create", "Settlements",
            new { i = ViewData["IdSelectedDistrict"] }, new { }
            )

</p>

<table class="table">
    <thead>
        <tr>  
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Population)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SettlementId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.SettlementId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
